@mixin flexCenter($gap:0px, $direction:column){
    display:flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
    flex-direction: $direction;
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}