header{
    @include flexCenter();
    padding: 28px 0;
    position: relative;
    .back-to-main{
        position: absolute;
        left:32px;
        font-size: 25px ;
        font-weight: bold;
        &:hover{
            i{
                color:color-default(primary);
            }
        }
        i{
            transition:0.2s;
        }
    }
    a{
        position: absolute;
        display: inline-block;
        width:100%;
        height: 100%;
        top:0;
        left:0;
    }
}