@-webkit-keyframes slideUp {
    0% {
      -webkit-transform: translateY(30%);
              transform: translateY(30%);
      opacity: 0%;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 100%;
    }
  }

@keyframes slideUp {
    0% {
      -webkit-transform: translateY(30%);
              transform: translateY(30%);
      opacity: 0%;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 100%;
    }
  }

@for $i from 1 through 3{
    .container--menuBox--#{$i}{
     -webkit-animation:calc(1100ms + $i*1000ms - 1000ms) ease-out 0s 1 slideUp;
             animation:calc(1100ms + $i*1000ms - 1000ms) ease-out 0s 1 slideUp;
    }
}

.container{
    width:100%;
    @include flexCenter();

    &--loader{
        position: fixed;
        width: 100%;
        height: 100vh;
        -webkit-animation-name: disappear;
                animation-name: disappear;
        -webkit-animation-duration: 3s;
                animation-duration: 3s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        z-index: 99;
        background-color: #fff;

        .loader {
            color: color-default(primary);
            font-size: 45px;
            text-indent: -9999em;
            overflow: hidden;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            -webkit-transform: translateZ(0);
                    transform: translateZ(0);
            -webkit-animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
                    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
          }
          
          @-webkit-keyframes mltShdSpin {
            0% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em,
              0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
              0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em,
              0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
              0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            }
            5%,
            95% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em, 
              0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
              0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em, 
              0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
              0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            }
            10%,
            59% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em, 
              -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
              -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em, 
              -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
              -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            }
            20% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
               -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
               -0.749em -0.34em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
               -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
               -0.749em -0.34em 0 -0.477em;
            }
            38% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
               -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
               -0.82em -0.09em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
               -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
               -0.82em -0.09em 0 -0.477em;
            }
            100% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
              0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
              0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            }
          }
          
          @keyframes mltShdSpin {
            0% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em,
              0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
              0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em,
              0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
              0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            }
            5%,
            95% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em, 
              0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
              0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em, 
              0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
              0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            }
            10%,
            59% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em, 
              -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
              -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em, 
              -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
              -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            }
            20% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
               -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
               -0.749em -0.34em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
               -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
               -0.749em -0.34em 0 -0.477em;
            }
            38% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
               -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
               -0.82em -0.09em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
               -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
               -0.82em -0.09em 0 -0.477em;
            }
            100% {
              -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
              0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
              0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            }
          }
          
          @-webkit-keyframes round {
            0% { -webkit-transform: rotate(0deg); transform: rotate(0deg) }
            100% { -webkit-transform: rotate(360deg); transform: rotate(360deg) }
          }
          
          @keyframes round {
            0% { -webkit-transform: rotate(0deg); transform: rotate(0deg) }
            100% { -webkit-transform: rotate(360deg); transform: rotate(360deg) }
          }
           

        @-webkit-keyframes disappear {
            0% {
                display: -webkit-box;
                display: flex;
            }
            90%{
                opacity: 1;
            }
            100% {
                opacity: 0;
                display: none;
            }
            }
           

        @keyframes disappear {
            0% {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
            90%{
                opacity: 1;
            }
            100% {
                opacity: 0;
                display: none;
            }
            } 
    }

    &--location{
        @include flexCenter(15px, row);
    }

    &--calling{
        gap: 38px;
    } 
    
    &--flow{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap:40px
    }

    &--flowBox{
        gap:30px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 20px;
        @include desktop{
            @include flexCenter(48px,row);
            -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                    align-items: stretch;
        }
    }

    &--menu{
        margin-top: -76px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: color-default(light-grey);
        padding: 50px 5% 119px 5%;
    }

    &--menu--header{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 50px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;

    }

    &--menuBox{
        gap:20px;

    }

    &--submenu{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 63px;
        margin-bottom: 70px;
        @include desktop{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            gap:3%;
        }
    }

    &--caption{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }

    &--restaurants{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 20px;
       
    }

    &--restoCard{
        gap: 22px;
        @include desktop{
            -webkit-box-orient:horizontal;
            -webkit-box-direction:normal;
                -ms-flex-flow:row wrap;
                    flex-flow:row wrap;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        }
    }


    &--footer{
        @include flexCenter(33px);
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    &--footerColumn{
        @include flexCenter(18px);
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        
    }
    
}

.description{
    font-size:20px;
    font-weight: 300;
    &--title{
        font-size:24px;
        font-weight: 500;
        margin-bottom:10px;
    }
}



.flowBox{
    @include flexCenter(30px,row);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start ;
    background-color: color-default(light-grey);
    padding: 38px 48px;
    border-radius: 28px;
    width: 100%;
    max-width: 450px;
    font-size:20px ;
    font-weight: 500;
    -webkit-box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.1);
    position: relative;

    & .fa-solid{
        font-size: 23px;
        color: color-default(dark-grey);
    }
    &::before{
        content:"";
        border-radius: 50%;
        position: absolute;
        background-color: color-default(primary);
        width:30px;
        height:30px;
        text-align: center;
        line-height: 2rem;
        color: white;
        left: -15px;
        font-weight: lighter;
    }

    @for $i from 1 through 3{
        &:nth-child(#{$i})::before{
            content: "#{$i}";
        }
    }

    &--highlighted{
        background-color: color-lighten(primary,35%);
        
        & .fa-solid{
            color: color-default(primary);
        }
    }
}


.menuBox{
    cursor: pointer;
    @include flexCenter(0,row);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
    width:100%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-align:end;
        -ms-flex-align:end;
            align-items:end;
    overflow: hidden;
    height:100px;
    position: relative;
    padding-right: 35px;

    &:hover >.description{
        width:80%;
    }

    &:hover >.selected{
        width:20%;
        i{
            rotate: 1turn;
        }
    }


    .description{
        margin:auto 0px auto 13px;
        width:100%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        
        .caption{
            font-size: 20px;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
               text-overflow: ellipsis;
            width:88%
        }
        
        .price {
            font-size: 20px;
            font-weight: bold;
        }
    } 
    
    .selected{
        background-color: color-default(tertiary);
        color:white;
        width:0%;
        font-size:30px;
        text-align: center;
        line-height: 108px;
        position: relative;
        display: inline-block;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        margin-right: -35px;


        i {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
        }

    }

}

.restoCard{
    position: relative;
    height:350px;
    width:100%;
    @include flexCenter;
    @include desktop{
        width: 45%;
    }

    .tag{
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #96e2d2;
        display:none;
        text-align: center;
        font-size: 18px;
        padding: 10px 36px;
        color: #008f71;
        border-radius: 3px;
        font-weight: bold;
        width:115px;
    }

    &__top{
        width: 100%;
        height:70%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;

        a{  
            position: absolute;
            top:0;
            display: inline-block;
            width: 100%;
            height: inherit;
            z-index: 999;
        }

        &:hover{
                opacity: 0.5;
        }

        &--new{
            .tag{
                display: inline-block;
            }
        }
    }
    
    &__bottom{
        height:30%;
        width:100%;
        background-color: white;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
        @include flexCenter(0px,row);
        padding:15px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        .description div:nth-child(2){
            font-size: 22px;
        }
    }

    img{
        border-top-left-radius:15px;
        border-top-right-radius:15px;
        height:100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }

    
    }

